/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #faedcd;
}

/**************************************************/
/*-------------GENERAL style ELEMENTS-------------*/
/* HIDE ELEMENTS*/
.hide-elements {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

ul {
    list-style: none;
}

/* title */
header>h2 {
    text-align: center;
}

main>section:first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main>section:first-of-type>div {
    display: block;
}

/* card */
main>section:first-of-type>div article.card-profile {
    width: 300px;
    height: 150px;
    text-align: center;
    border-radius: 1em;
    background: rgb(255, 150, 113);
    background: linear-gradient(338deg, rgba(255, 150, 113, 1) 0%, rgba(255, 199, 95, 1) 35%, rgba(249, 248, 113, 1) 100%);

    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin: 2em;

    filter: grayscale(1);
}

main>section:first-of-type>div article.card-profile:hover {
    border: 2px solid rgb(255, 150, 113);
    filter: grayscale(0);
}

figure {
    border-radius: 1em;
    padding: 5px;
    width: 400px;
    height: 200px;
}

figure>img {
    width: 30%;
    border-radius: 1em;

}

main>section:first-of-type>div article.card-profile>ul.text-profile {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 15px;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s,
        opacity 0.5s linear;
    transition: visibility 0s,
        opacity 0.5s linear;
}

ul.text-profile a {
    color: #ffffff;
}

main>section:first-of-type>div article.card-profile:hover ul.text-profile {
    visibility: visible;
    opacity: 1;
}

footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}

/*************************************************************/
/*------------------------ MEDIA QUERY ----------------------*/
/*------------------------ WEBSITE MODES --------------------*/
@media (min-width:40em) {
    main>section:first-of-type>div {
        display: flex;
        justify-content: space-between;
    }

    /* card */
    main>section:first-of-type>div article.card-profile {
        width: 500px;
        height: 300px;
    }

    /*img*/
    figure>img {
        width: 50%;
    }
}